
html,body,ul,li,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,dt,dd,dl{
   margin:0;
   padding:0;
  }
h1,h2,h3,h4,h5,h6{
   font-size:16px;
   font-weight:normal;
}
ul,ol,li{
   list-style:none;
}
a,u{
   text-decoration:none;
}
i,em{
   font-style:normal;
}
b,strong{
   font-weight:normal;
}
img{
   display:block;
   border:0;
}
input{
   border:0;
}
.fix_clear:after{
   content:".";
   display:block;
   clear:both;
   height:0;
   overflow:hidden;
}
.fix_clear{
   zoom:1;
   /*IE清楚浮动的兼容*/
}

/*头部*/
.header{
  background: white;
  height: 76px;
  width: 100%;
  border-bottom:4px solid #ff464e ;
}
.header_border{
  width: 978px;
  height: 60px;
  /*background: #ccc;*/
  margin: 0 auto;
  padding-top: 16px;

}
.header_border a:first-child{
  display: inline-block;
  width: 200px;
  height: 50px;
  background: url(../images/header-total.gif) 
  no-repeat
  -80px -219px  ;
}
.header_border a:last-child{
  display: inline-block;
  /*margin-top:20px; */
  width: 450px;
  height: 50px;
  background: url(../images/header-total.gif) 
  no-repeat
  0px 10px  ;
  margin-left:300px; 
}
/*主体*/
main{
  width: 100%;
  height:600px;
  background: #f6f6f6;
  padding-top: 20px;
}
.login_border{
  width: 978px;
  height: 453px;
  border: 1px solid #e2e2e2;
  margin: 0px auto;
  background: white;
}
.login_top{
  height: 64px;
  width: 100%;
  padding-left: 50px;
  border-bottom: 1px dotted #e2e2e2;
  background:url(../images/images/login_top_bg.jpg) no-repeat 132px  21px;  
}
.login_top h2,h3,h4,p{
  display: inline;
}
.login_top h2{
  color:#ff464e;
  text-align: center;
  line-height: 64px;
}
.login_top h3{
  margin-left:30px; 
  font-size: 12px;

}
.login_top h4{
  margin-left:466px; 
  font-size: 15px;
  color:#999999;
  
}
.login_top p{
  
  font-size: 15px;
  color:#0289cd;
  
}
/*表单验证*/
 .login{
  height: 430px;
  width: 818px;
  /*background: orange;*/
  padding-left: 160px;
  padding-top: 30px;
  background: url(../images/login-bj-ad.png) no-repeat
  540px 30px;
 }
 .login-form{
  position: relative;

 }
 .namer{
  width: 230px;
  height: 38px;
  border: 1px solid black;
  border-left:none;
  text-indent: 5px;
  margin-left:38px; 
  text-indent: 1em;

}
.namer,.pass:focus{
  outline: none;
}
 .pass{
  width: 230px;
  height: 38px;
  border: 1px solid black;
  border-left:none;
  text-indent: 5px;
  margin-top:30px; 
  margin-left:38px; 
  text-indent: 1em;
}
.login-form .lianxiren{
  font-size: 25px;
  display: inline-block;
  height: 40px;
  width: 38px;
  border: 1px solid black;
  position: absolute;
  left: 0px;
  top:0px;
  background: #f9f9f9;
  border-right:1px solid #f1f1f1;
  color: #a8a8a8; 
  text-align: center;
  line-height: 40px;
 }
 .login-form .suo{
  font-size: 25px;
  display: inline-block;
  height: 40px;
  width: 38px;
  border: 1px solid black;
  position: absolute;
  left: 0px;
  top:72px;
  background: #f9f9f9;
  border-right:1px solid #f1f1f1;
  color: #a8a8a8; 
  text-align: center;
  line-height: 40px;
 }

.option{
      width:270px;
      height: 30px;
      /*background: orange; */
      margin-top:30px; 
      padding-top: 10px;
}
.option p{
  font-size: 12px;
  margin-left:20px;
}
.option a{
  font-size: 12px;
  margin-left:75px; 
  color: #999;
}

.login-form .but{
  width: 260px;
  height: 40px;
  background: #ff4251;
  border-style: none;
  color: white;
  cursor: pointer;
  
}
.login-form .but:hover{
  opacity: 0.7;
}
.joinweb_login p{
  font-size: 12px;

}
.joinweb_login {
  width: 120px;
  height: 50px;
  padding-top: 30px;
}
.phone_login p{
  font-size: 12px;

}
main .footer_down{
  width: 978px;
  height: 50px;
  margin: 30px auto;
  /*padding-top: 30px;*/
}
main .footer_down p{
  font-size: 12px;
  display: block;
  width: 978px;
  text-align: center;
  margin-top:30px; 
}
main .footer_down p a{
  color: black;
}
main .footer_down p a:hover{
  color: red;
}
